{% extends "layouts/base_html.twig" %}

{% block DASHBOARD %}

	<h1>
		Welcome to your dashboard
	</h1>
	<hr>
	<table
		class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					email
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{{ LoggedUserInfo.uid }}
				</td>
				<td>
					{{ LoggedUserInfo.email }}
				</td>
				<td>
					<a
						href={{ route ('logout') }}>
						Logout
					</a>
				</td>
			</tr>
		</tbody>
		{% if session ('success') %}
			<div
				class="alert alert-sucess">
				{{ session ('success') }}
			</div>
		{% endif %}

	{% endblock %}
